.teste{
    background: #f25180;
    background: #c62152;
    background: #9d113b;
    background: #46081a;
    background: #f47399;
    background: #f796b2;
    background: #f9b9cc;
    background: #fcdce5;
}
